
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coronavirus helpers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-md-offset-3">
                <div class="row text-center my-3">
                <div class="col-5"><h5><a href="/">I CAN HELP</a></h5></div>
                <div class="col-2">|</div>
                <div class="col-5"><h5><a href="/needhelp">I NEED HELP</a></h5></div>
                </div>
                <div class="jumbotron text-center">
                    <h1>Coronavirus Helpers</h1>

                    {% block form_block %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-md-offset-3 ">

            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
        </div>
    </div>
</body>
